In [21]:
import numpy as np
import pandas as pd

In [22]:
df = pd.read_csv('athlete_events.csv')
region_df = pd.read_csv('noc_regions.csv')

In [23]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

In [24]:
df.shape

(271116, 15)

In [25]:
df = df[df['Season'] == 'Summer']

In [26]:
df.shape

(222552, 15)

In [27]:
df = df.merge(region_df, on='NOC', how='left')

In [28]:
df.drop_duplicates(inplace=True)

In [29]:
df.duplicated().sum()

np.int64(0)

In [30]:
df.tail()

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,Argentina,NaN
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,USA,NaN
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN

In [31]:
pd.concat([df, pd.get_dummies(df['Medal'])], axis=1)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes,Bronze,Gold,Silver
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN,False,False,False
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN,False,False,False
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN,Denmark,NaN,False,False,False
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold,Denmark,NaN,False,True,False
4,8,"Cornelia ""Cor"" Aalten (-Strannood)",F,18.0,168.0,NaN,Netherlands,NED,1932 Summer,1932,Summer,Los Angeles,Athletics,Athletics Women's 100 metres,NaN,Netherlands,NaN,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
222547,135565,Fernando scar Zylberberg,M,27.0,168.0,76.0,Argentina,ARG,2004 Summer,2004,Summer,Athina,Hockey,Hockey Men's Hockey,NaN,Argentina,NaN,False,False,False
222548,135566,"James Francis ""Jim"" Zylker",M,21.0,175.0,75.0,United States,USA,1972 Summer,1972,Summer,Munich,Football,Football Men's Football,NaN,USA,NaN,False,False,False
222549,135567,Aleksandr Viktorovich Zyuzin,M,24.0,183.0,72.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN,False,False,False
222550,135567,Aleksandr Viktorovich Zyuzin,M,28.0,183.0,72.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Rowing,Rowing Men's Lightweight Coxless Fours,NaN,Russia,NaN,False,False,False
222551,135568,Olga Igorevna Zyuzkova,F,33.0,171.0,69.0,Belarus,BLR,2016 Summer,2016,Summer,Rio de Janeiro,Basketball,Basketball Women's Basketball,NaN,Belarus,NaN,False,False,False

In [32]:
medal_tally = df.drop_duplicates(
    subset=['Team','NOC','Games','Year','City','Sport','Event','Medal']
)

In [33]:
medal_tally['Gold']   = medal_tally['Medal'].eq('Gold').astype(int)
medal_tally['Silver'] = medal_tally['Medal'].eq('Silver').astype(int)
medal_tally['Bronze'] = medal_tally['Medal'].eq('Bronze').astype(int)

medal_summary = (
    medal_tally.groupby('NOC')[['Gold','Silver','Bronze']]
    .sum()
    .sort_values('Gold', ascending=False)
    .reset_index()
)

print(medal_summary.head())

   NOC  Gold  Silver  Bronze
0  USA  1035     802     708
1  URS   394     317     294
2  GBR   278     317     300
3  GER   235     261     283
4  FRA   234     256     287

C:\Users\pushw\AppData\Local\Temp\ipykernel_8660\2545424583.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  medal_tally['Gold']   = medal_tally['Medal'].eq('Gold').astype(int)
C:\Users\pushw\AppData\Local\Temp\ipykernel_8660\2545424583.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  medal_tally['Silver'] = medal_tally['Medal'].eq('Silver').astype(int)
C:\Users\pushw\AppData\Local\Temp\ipykernel_8660\2545424583.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  medal_tally['Bronze'] = medal_tally['Medal'].eq('Bronze').astype(int)

In [34]:
years = df['Year'].unique().tolist()

In [35]:
years.sort()

In [36]:
years.insert(0,'Overall')

In [37]:
years

['Overall',
 1896,
 1900,
 1904,
 1906,
 1908,
 1912,
 1920,
 1924,
 1928,
 1932,
 1936,
 1948,
 1952,
 1956,
 1960,
 1964,
 1968,
 1972,
 1976,
 1980,
 1984,
 1988,
 1992,
 1996,
 2000,
 2004,
 2008,
 2012,
 2016]

In [38]:
def fetch_medal_tally(year='Overall', country='Overall'):
    temp_df = medal_df.copy()

    # Apply filters
    if year != 'Overall' and country != 'Overall':
        temp_df = temp_df[(temp_df['Year'] == int(year)) & (temp_df['region'] == country)]
    elif year != 'Overall':
        temp_df = temp_df[temp_df['Year'] == int(year)]
    elif country != 'Overall':
        temp_df = temp_df[temp_df['region'] == country]

    # Create numeric medal columns
    temp_df['Gold']   = (temp_df['Medal'] == 'Gold').astype(int)
    temp_df['Silver'] = (temp_df['Medal'] == 'Silver').astype(int)
    temp_df['Bronze'] = (temp_df['Medal'] == 'Bronze').astype(int)

    # Group and sum
    x = (
        temp_df.groupby('region')[['Gold','Silver','Bronze']]
        .sum()
        .sort_values('Gold', ascending=False)
        .reset_index()
    )

    # Add total
    x['total'] = x['Gold'] + x['Silver'] + x['Bronze']

    return x

In [39]:
df.head(2)

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal,region,notes
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN,China,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN,China,NaN

In [45]:
df['City'].unique().shape

(23,)

In [44]:
df['Sport'].unique().shape

(52,)

In [43]:
df['Event'].unique().shape

(651,)

In [46]:
df['Year'].unique().shape

(29,)

In [57]:
out = (
    df.drop_duplicates(['Year','region'])['Year']
      .value_counts()
      .reset_index()
)

print(out.head())
print(out.columns)

   Year  count
0  2016    204
1  2012    203
2  2008    202
3  2004    200
4  2000    199
Index(['Year', 'count'], dtype='object')

In [58]:
import plotly.express as px

In [59]:
fig = px.line(out, x='Year', y='count', markers=True)
fig.show()

In [63]:
top_50_sports = df['Sport'].value_counts().head(50)

print(top_50_sports)

Sport
Athletics                38624
Gymnastics               26707
Swimming                 23195
Shooting                 11448
Cycling                  10827
Fencing                  10735
Rowing                   10595
Wrestling                 7154
Football                  6745
Sailing                   6549
Equestrianism             6343
Canoeing                  6171
Boxing                    6047
Hockey                    5417
Basketball                4536
Weightlifting             3937
Water Polo                3846
Judo                      3801
Handball                  3665
Volleyball                3404
Tennis                    2862
Diving                    2842
Archery                   2334
Art Competitions          2263
Table Tennis              1955
Modern Pentathlon         1677
Badminton                 1457
Synchronized Swimming      909
Baseball                   894
Rhythmic Gymnastics        658
Taekwondo                  606
Beach Volleyball           564
Triathlon                  529
Softball                   478
Rugby Sevens               299
Golf                       247
Tug-Of-War                 170
Rugby                      162
Trampolining               152
Polo                        95
Lacrosse                    60
Ice Hockey                  60
Figure Skating              54
Cricket                     24
Croquet                     19
Motorboating                17
Racquets                    12
Jeu De Paume                11
Roque                        4
Alpinism                     4
Name: count, dtype: int64